.title{
    font-family: var(--secondary-font), var(--default-font);
  }
  
.page{
  display: flex;
  flex-direction: column;
  width: 75vw;
}


.aboutContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutFlexRow{
  width: 70%;
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap:2rem;
}

.aboutFlexColumn {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 2rem; 
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid var(--grey-1);
}

.aboutImage {
  width:inherit;
  height: auto;
  object-fit: cover;
}

.image{
  width: 100%;
  height: auto;
}

.madeBy {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}


.textBlock {
  width: 100%;
  min-height: 23vh;
  margin-bottom: 10vh;
}