
.defaultImage{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 9999;
  visibility: visible;
}

.imageContainer:hover .defaultImage{
  visibility: hidden;
}

/*------------------------------------------godfather-----------------------------------------------------*/

.imageContainer .stretched-strings {
  transition: transform 1s ease-in-out ; /* Add transition for smoothness */
}

.imageContainer:hover .stretched-strings {
  transform: translateY(60%); 
}



/*------------------------------------------anatomy-----------------------------------------------------*/

.imageContainer .dropRed {
  transition: transform 0.5s ease-in-out ; /* Add transition for smoothness */
  transform-origin: center center; 
}

.imageContainer:hover .dropRed {
  transform: rotate(-5deg) translateX(-10%) translateY(80%);
  transition-delay: 0.2s;
  
}

.imageContainer .dropYellow {
  transition: transform 0.5s ease-in-out; /* Add transition for smoothness */
  transform-origin: center center; 
  transition-delay: 0.5s;
}

.imageContainer:hover .dropYellow {
  transform: rotate(-60deg) translateX(-100%) translateY(20%);
  
}

.imageContainer .dropMen {
  transition: transform 0.3s ease-in-out; /* Add transition for smoothness */
  transform-origin: center center; 
}

.imageContainer:hover .dropMen {
  transform: rotate(195deg) translateX(-10%) translateY(-150%);
  
}

/*------------------------------------------vertigo-----------------------------------------------------*/

.imageContainer:hover .rotateVertigo{
  animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------------------------------silence-----------------------------------------------------*/

.imageContainer:hover .moth {
  animation: moth-path 10s infinite;
  transform-origin: center center; 
}

@keyframes moth-path {
  0% {
    transform: translate(0%, 0%) rotate(-360deg);
  }
  25% {
    transform: translate(50%, 100%) rotate(-90deg);
  }
  50%{
    transform: translate(-50%, 50%) rotate(-180deg);
  }
  75%{
    transform: translate(30%, -200%) rotate(-270deg);
  }
  100%{
    transform: translate(0%, 0%) rotate(0deg);
  }
}


/*------------------------------------------oppenheimer-----------------------------------------------------*/




/*------------------------------------------nightmare-----------------------------------------------------*/



.imageContainer:hover .moonNightmare {
  border-radius: 50%;
  animation: colorAnimation 9s ease-in-out infinite;
  }


@keyframes colorAnimation
{
  0%,100%  {background:  #EED243}
  33%  {background: #cea36e}
  66%  {background:  #b75746}
}

/*------------------------------------------up-----------------------------------------------------*/





/*------------------------------------------fireflies-----------------------------------------------------*/


.imageContainer:hover .bright-point {
  
  opacity: 0.5;
  
  animation: moveAndBlink 7s linear infinite alternate-reverse;
 
}

.imageContainer:hover .bright-point2 {
  
  opacity: 0.5;
  
  animation: moveAndBlink2 7s linear infinite alternate-reverse;
 
}

@keyframes moveAndBlink {
  0%, 100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  25% {
    transform: translate(var(--varX1), var(--varY1));
    opacity: 0.1;
  }

  50% {
    transform: translate(var(--varX2), var(--varY2));
  }

  75% {
    transform: translate(var(--varX3), var(--varY3));
    opacity: 0.8;
  }
}

.bright-point {
  --varX1: 70px;
  --varY1: -30px;
  --varX2: -50px;
  --varY2: -100px;
  --varX3: 0;
  --varY3: 0;
}

@keyframes moveAndBlink2 {
  0%, 100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  25% {
    transform: translate(var(--varX1a), var(--varY1a));
    opacity: 0.1;
  }

  50% {
    transform: translate(var(--varX2a), var(--varY2a));
  }

  75% {
    transform: translate(var(--varX3a), var(--varY3a));
    opacity: 0.8;
  }
}

.bright-point2 {
  --varX1a: 30px;
  --varY1a: -20px;
  --varX2a: -40px;
  --varY2a: 60px;
  --varX3a: 10px;
  --varY3a: -10px;
}


/*------------------------------------------jurassic-----------------------------------------------------*/



.imageContainer:hover .mouth-bottom {
  
  
    transform: translateY(-10px) rotate(-15deg);
    animation: bite 2s ease-in-out infinite;
  
}



@keyframes bite {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform:translateY(-6.5px)  translateX(6px)  rotate(-10deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
 


/*------------------------------------------howls-----------------------------------------------------*/



/*------------------------------------------pinocchio-----------------------------------------------------*/




/*------------------------------------------wolf-----------------------------------------------------*/

.imageContainer:hover .confettiWolf-1{
  background-color: #e93449;
  animation: confettiAnimation 6s ease-in-out 0s infinite;
}

.imageContainer:hover .confettiWolf-2{
  animation: confettiAnimation 6s ease-in-out 5s infinite;
  background-color: #8257e6;
}

.imageContainer:hover .confettiWolf-3{
  animation: confettiAnimation 6s ease-in-out 3s infinite;
  background-color: #ffbf4d;
}

.imageContainer:hover .confettiWolf-4{
  animation: confettiAnimation 6s ease-in-out 2.5s infinite;
  background-color: #fe5d7a;
}

.imageContainer:hover .confettiWolf-5{
  animation: confettiAnimation 6s ease-in-out 4s infinite;
  background-color: #45ec9c;
}

.imageContainer:hover .confettiWolf-6{
  animation: confettiAnimation 6s ease-in-out 5.5s infinite;
  background-color: #f6e327;
}

.imageContainer:hover .confettiWolf-7{
  animation: confettiAnimation 6s ease-in-out 0.5s infinite;
  background-color: #f769ce;
}

.imageContainer:hover .confettiWolf-8{
  animation: confettiAnimation 6s ease-in-out 2s infinite;
  background-color: #007de7;
}

.imageContainer:hover .confettiWolf-9{
  animation: confettiAnimation 6s ease-in-out 3.5s infinite;
  background-color: #63b4fc;
}

.imageContainer:hover .confettiWolf-10{
  animation: confettiAnimation 6s ease-in-out 1s infinite;
  background-color: #f9c4ea;
}


@keyframes confettiAnimation {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translateX(-200%) translateY(-200%);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translateX(-2000%) translateY(2000%);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translateX(2000%) translateY(6000%); 
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translateX(-1000%) translateY(8000%); 
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translateX(1000%) translateY(11000%); 
  }
}



/*
.imageContainer:hover .confetti {
  background-color: #f2d74e;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}



#confettis {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.confetti {
  left: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  transform-origin: left top;
  animation: confetti 5s ease-in-out -2s infinite;
}



@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

/*
.imageContainer:hover .confettiWolf-1{
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.imageContainer:hover .confettiWolf-2{
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.imageContainer:hover .confettiWolf-3{
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.imageContainer:hover .confettiWolf-4{
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.imageContainer:hover .confettiWolf-5{
  background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.imageContainer:hover .confettiWolf-6{
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.imageContainer:hover .confettiWolf-7{
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.imageContainer:hover .confettiWolf-8{
  background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.imageContainer:hover .confettiWolf-9{
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.imageContainer:hover .confettiWolf-10{
  background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}


@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-50%,20%); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5%,60%); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10%,80%); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10%,110%); }
}
*/