.title{
    font-family: var(--secondary-font), var(--default-font);
  }
  
.page{
    padding: 5vh 5vw;
}

.posterGrid{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.posterContainer{
  width:inherit;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 6vh;
}

.posterContainer:nth-child(even) {
  flex-direction: row-reverse;
}

.posterImage{
  width: calc(var(--poster-width) * var(--scale-archive));
  height: calc(var(--poster-height) * var(--scale-archive));
  background-color: rgb(220, 220, 220);
}

.posterText{
  width: calc(100% - calc(var(--poster-width) * var(--scale-archive)));
  height: fit-content;
  text-align: left;
}
