


.title{
  font-family: var(--secondary-font), var(--default-font);
}

.page{
  padding: 5vh 5vw;
}


.collectionGrid{
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: repeat(3, 3fr);
    gap: 1vh;
    float: right;
}



  .collectionImage{
    
    border: 1px solid black;
    min-height:40vh;
    max-width: 30vh;
    
  }