.title{
  font-family: var(--secondary-font), var(--default-font);
}

.page{
  padding: var(--page-padding);
}

.collectionContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.filtersContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.collectionGrid {
  flex: 1;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid var(--grey-1);
  width: inherit;
}

.collectionImage {
  width:inherit;
  height: auto;
  object-fit: cover;
}

.image{
  width: 100%;
  height: auto;
}

.category{
  text-transform: uppercase;
  font-weight: var(--navbar-font-weight); 
  font-size: var(--navbar-font-size);
}
