.filter {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15vh 0vw;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  align-content: center;
  background: var(--shadow-menu);
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
  text-transform: uppercase;
  font-weight: var(--navbar-font-weight); 
  font-size: var(--navbar-font-size);
}
.filter.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.filterButtonContainer {
  position: absolute;
  top: 2rem; /* Adjust the top position as needed */
  left: 2rem; /* Adjust the right position as needed */
  z-index: 100; /* Should be higher than the filter */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: var(--navbar-font-weight); 
  font-size: var(--navbar-font-size); 
}
.filterButton {
  width: 100%;
  height: 100%;
}
.category{
  width: auto;
  align-self: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  aspect-ratio: 0.4;
  object-fit: contain;
  object-position: top;
  width: 54px;
  fill: #000;
  overflow: hidden;
  max-width: 100%;
  padding-top: 20px;
}


.searchContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin-right: 0px;
  align-self: center;
  gap: 15px;
}

.searchTitle {
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-self: flex-end; /* Align the search title to the center */
  font: 500 30px Futura, sans-serif;
}



.searchBar {
  font: 500 16px Futura, sans-serif;
  position: relative;
  --field-padding: 12px;
  display: flex;
}

.searchBar input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f4f4f4;
  padding: 12px;
  width: 100%;
  font: 500 16px Futura, sans-serif;
  padding: var(--field-padding);
}

.searchButton {
  padding: 0%;
  border: 0;
  cursor: pointer;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease; /* Add a transition for a smoother effect */
}

.searchButton:hover {
  background-color: #b4b4b4;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  gap: 30px;
}

.filterTitle {
  display: flex;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-self: flex-start;
  font: 500 30px Futura, sans-serif;
}

.filterSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.filterContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  max-height: 150px;
  overflow-y: auto;
}

.filterOptionsContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  max-height: 150px;
  overflow-y: auto;
}

.filterContainer .filterOptionsContainer {
  max-height: 150px;
  overflow-y: auto;
}

.filterOptionsContainer::-webkit-scrollbar {
  width: 0px;
}

.filterOption {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: start;
}

.filterOption input[type="checkbox"] {
  position: relative;
  opacity: 0;
}

.filterOption input[type="checkbox"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 50%; /* Tornar o círculo */
  background-color: #f4f4f4;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.filterOption input[type="checkbox"]:hover + label::before {
  background-color: #b4b4b4;
}

.filterOption input[type="checkbox"]:checked + label::before {
  background-color: #000; /* Torna o círculo preto quando está marcado */
  border-color: #000;
}

.filterOption label {
  display: flex;
  flex-direction: row;
  position: relative;
  letter-spacing: 1.6px;
  font: 500 16px Futura, sans-serif;
  cursor: pointer;
  align-items: flex-start;
}
