:root {
	/*declare all things here, u use them with var(--variable-name) */

  /* colors */
	--white-1: white;
  --black-1: black;
  --off-white: #F0ECE8;
  --grey-2: #555555;
  --grey-1: #8f8f8f;
  --shadow-menu: rgba(183, 147, 120, 0.966);
  --grey-3: #ffc4c4;


  /* website variables */
 
  --background-color: var(--off-white);
	--primary-text-color: var(--black-1);
	--secondary-text-color: var(--white-1);
  --poster-color: var(--grey-3);


  --poster-width: 72px;
  --poster-height: 108px;

  --scale-archive: 6; 
  --scale-collection: 6; 
  


	/* system settings */

	--primary-font: 'Futura';
	--secondary-font: 'Impact';
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;


  /* letters */

  --letter-spacing: 0.05rem;
  --navbar-font-size: 23px;
  --navbar-font-weight:900;
  --text-font-size: 15px;

}

/* DO NOT USE THE SAME CLASSNAME AS DEFINED HERE IT WILL GENERATE CONFLICTS*/


html, body{
  margin: 0;
  width: calc(100vw - 2rem);
  font-family: var(--primary-font), var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  letter-spacing: var(--letter-spacing);
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--grey-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--grey-2);
}


a, a:hover{
  color: var(--primary-font);
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
}


@font-face {
	font-family: 'Futura';
	src: local('Futura'), url(../../public/fonts/Futura\ Std\ Book.ttf) format('truetype');
}

@font-face {
	font-family: 'Impact';
	src: local('Impact'), url(../../public/fonts/Impact.ttf) format('truetype');
}


