.page{
    display: flex;
}

.menu {
    position: fixed;
    justify-content: center;
    align-content: center;
    padding: 15vh 0vw;
    width: 100vw;
    height: 70vh;
    background: var(--shadow-menu);
    display: none;
    z-index: 99;
    text-transform: uppercase;
    font-weight: var(--navbar-font-weight); 
    font-size: var(--navbar-font-size);
}

.menu.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuButtonContainer {
    position: absolute;
    top: 2rem; /* Adjust the top position as needed */
    right: 2rem; /* Adjust the right position as needed */
    z-index: 100; /* Should be higher than the menu */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: var(--navbar-font-weight);
    font-size: var(--navbar-font-size); 
    
}



.menuButton {
    width: 100%;
    height: 100%;
}


.navigation{
    width: auto;
    align-self: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}