.title{
    font-family: var(--secondary-font), var(--default-font);
  }
  
.page{
    padding: 5vh 5vw;
}

.posterLink{
  margin: 30px;
  width: 400px;
  height: 400px;
  background-color: rgb(220, 220, 220);
}
