.page{
    padding: var(--page-padding);
    min-height: 80vh;
}

.posterDetails{
    min-height: 30vh;
}

.lineWeb{
    width: 100%;
    padding-bottom: 5vh;
    margin-top: -13vh;
    margin-left: -15vh;
    width: 50px;
    height: 50px;
}

.lineMobile{
    width: 100%;
    padding-bottom: 5vh;
    margin-top: -14vh;
    margin-left: -8vh;
    width: 40px;
    height: 40px;
}



.button{
    background: var(--grey-1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.button:hover {
	background: var(--grey-2);
}

.arrow{
    align-self: center;
    color: var(--background-color)
}


.posterContainer{
    width:inherit;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6vh;
  }
  
  
  .posterText{
    flex:1;
    height: fit-content;
    text-align: left;
  }
  
  .imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid var(--grey-1);
    width: inherit;
  }
  
  .imageLink {
    width:100%;
    height: auto;
    object-fit: cover;
  }
  
  .image{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  